name: Pull Request check

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.tf"
      - "**/*.yml"
      - "**/*.hcl"

concurrency: "terraform"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v1

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        # working-directory: .
        run: tflint -f compact

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Retrieve .terraform-version
        id: terraform-version
        run: echo "::set-output name=version::$(cat .terraform-version)"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ steps.terraform-version.outputs.version }}

      - name: Validate Terraform
        run: |
          terraform init
          terraform validate

  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@v0.10.0
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
